body {
  background-color: rgb(255, 255, 255);
}
/*BOTON DE INICIO DE SESION*/
.botoninicio{
display: flex;
top: 10%;
right: 30%;
}   
/* Menu */
nav{
  background: rgb(97, 0, 89);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.enlace{
  position: absolute;
  padding: 5px 50px;
  
}

nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
li a.active, li a:hover{
  background: rgb(240, 240, 240);
  color: purple;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
/*ESTILO DE LOS TITULOS*/
#titulo1{   
font-size: 50px;
color:rgb(97, 0, 89);
justify-content: center;
display: flex;
}
.antesdelmenu {
    overflow: visible;
    background-color: rgb(255, 255, 255);
    padding: 5x;
    border: 8px solid rgb(95, 0, 75);

}
/* Estilos del texto */

#titulo2{
font-size: 45px;
color:rgb(156, 6, 144);
justify-content: center;
display: flex;
}

#titulo3{
font-size: 40px;
color: rgb(155, 32, 155);
justify-content: center;
display: flex;
}
.tipos{
    background-color: rgb(209, 209, 209);
    text-align: center;
    border: 5px solid  rgb(114, 0, 89);
    border-radius: 50px;
    margin-top: 5%;
    padding: 15px;
  }
h1 {
font-size: 32px;
color:rgb(102, 17, 91);
justify-content: center;
display: flex;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

/* TEXTO */

#sobrenosotros h2 {
    text-align: center;
    background-color: rgb(113, 30, 116);
    padding: 40px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

h3 {
    background-color: rgb(214, 156, 214);
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: rgb(82, 7, 82);
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 19px;
}

hr {
    border: solid 8px;
    color: rgb(94, 1, 78);
}
  /* Estilo general para el footer */
  footer {
    margin-top: 15px;
    background: rgb(112, 0, 112);
    color: #fff;
    padding: 2rem;
    text-align: center;
    height: 25%;
  }
  
  footer .info {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem; /* Espaciado entre los elementos */
  }
  
  footer .info li {
    text-align: left;
    max-width: 200px;
    font-size: 15px;
  }
  
  footer a {
    text-decoration: none;
    color: rgb(65, 112, 241);
  }
  
  footer .copy {
    margin-top: 2rem;
    font-size: 0.9rem;
  }
  
  #correo{
    color: rgb(255, 255, 255);
    }
    #num {
    color: white;
    }
    #redes {
    color: white;
    }
  /* Diseño responsive */
  @media (max-width: 768px) {
    footer .info {
      flex-direction: column;
      align-items: center;
    }
  
    footer .info li {
      text-align: center;
    }
  }
  